

<div class="footer navbar-dark">

    Created Aug 2019
    
</div>



<!-- 
    // let ctx = document.getElementById("myChart");
    // import {temperatureData} from "./public/js/chart.js"
    
    // const temperatureData = require ("./public/js/chart.js")
    
    
    
    
    // const tempData = temperatureData((tempData) => { tempData })
    // console.log(tempData) -->

</body>
</html>