
  <%- include('../partials/header') %>
   
   <h1>Rv App</h1>

    <article class="grid-containor">
      <div class="chart">
        
        <canvas id="myChart" onload="loadChart()"></canvas>
      </div>

      <div id="reading-box " class="box-grid">
        <div class="box box1">Button</div>
        <div class="box box2">Button</div>
        <div class="box box3">Button</div>
      </div>
    </article>


    
<%- include('../partials/footer') %>
     